@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;

0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");
.navbar {
  background-color: #1b1d20;
  padding: 43px 18px 43px 31px;
  min-width: 182px;
  max-width: 182px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar__logo {
  margin-top: 43px;
  width: 66px;
}

.navbar__burger {
  display: none;
}

.navbar__list li {
  list-style: none;
  margin-bottom: 20px;
}

.navbar__link {
  font-size: 14px;
  letter-spacing: 0.5px;
  text-decoration: none;
  text-align: left;
  cursor: pointer;
  background-color: transparent;
  border: 0;
  color: #959595;
}

.navbar__link.active,
.navbar :hover {
  color: #ffffff;
}

.navbar__link.disabled {
  color: #686868;
}

.btn {
  background: #4253ff;
  border-radius: 5px;
  border: 0;
  padding: 13px 0;
  width: 100%;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 13.2px;
  cursor: pointer;
}

.agreement {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}

.agreement__content {
  overflow: auto;
}

.agreement__btn {
  margin-top: 17px;
}

.agreement.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.btn {
  background: #4253ff;
  border-radius: 5px;
  border: 0;
  padding: 13px 0;
  width: 100%;
  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 13.2px;
  cursor: pointer;
}

.form {
  display: none;
  width: 100%;
}

.form__row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.form__row + .form__row {
  margin-top: 23px;
}

.form__input,
.form__select {
  width: 50px !important;
}

.form .select + .select {
  margin-left: 14px;
}

.form__sub-title {
  margin-bottom: 12px;
}

.form__cvc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__btn {
  margin-top: 19px;
}

.form.active {
  display: block;
}

.input {
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  min-height: 19px;
  padding: 10px;
}

.input:active,
.input:focus {
  outline: 0;
  border: 1px solid black;
}

.select {
  position: relative;
}

.select__arrow:before {
  content: '';
  background-color: #959595;
  position: absolute;
  width: 9px;
  height: 2px;
  top: 50%;
  right: 11px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.select__arrow:after {
  content: '';
  background-color: #959595;
  position: absolute;
  width: 9px;
  height: 2px;
  top: 50%;
  right: 6px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.select__input:active + .select__arrow:before {
  -webkit-transform: rotate(-45deg) !important;
      -ms-transform: rotate(-45deg) !important;
          transform: rotate(-45deg) !important;
}

.select__input:active + .select__arrow:after {
  -webkit-transform: rotate(45deg) !important;
      -ms-transform: rotate(45deg) !important;
          transform: rotate(45deg) !important;
}

.select__input {
  background: #f0f0f0;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  min-height: 19px;
  padding: 10px;
  position: relative;
  -webkit-appearance: none;
  width: 100%;
}

.select__input:active,
.select__input:focus {
  outline: 0;
  border: 1px solid black;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #101114;
}

input:focus:required:invalid {
  border: 1px solid red;
}

input:required:valid {
  border: 1px solid green;
}

body {
  background-color: #101114;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sub-title {
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.75px;
  color: #101114;
}

.w50 {
  width: 50%;
}

.w100 {
  width: 100%;
}

.description {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #959595;
}

h3 {
  font-weight: bold;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.75px;
  color: #000000;
}

.container {
  min-height: 100%;
  height: auto !important;
  max-width: 1259px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card {
  width: 620px;
  max-height: 518px;
  background-color: #ffffff;
  color: #101114;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.card .card-container {
  padding: 37px 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 321px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    padding: 13px 0;
    min-width: unset;
    max-width: unset;
  }

  .navbar__burger {
    display: block;
    position: relative;
    margin-right: 20px;
    width: 30px;
    height: 20px;
    z-index: 1;
  }

  .navbar__burger:before,
  .navbar__burger:after,
  .navbar__burger span {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }

  .navbar__burger:before {
    top: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navbar__burger:after {
    bottom: 0;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navbar__burger span {
    top: 9px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .navbar__burger.active:before {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    top: 9px;
  }

  .navbar__burger.active:after {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    bottom: 9px;
  }

  .navbar__burger.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .navbar__menu {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #1b1d20;
    left: -100%;
    -webkit-transition: all 0.6s ease 0s;
    -o-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    overflow: auto;
    z-index: 1;
  }

  .navbar__menu.active {
    left: 0;
    padding: 20px 0;
  }

  .navbar__list li {
    margin-left: 20px;
  }

  .navbar__link {
    font-size: 24px;
  }

  .navbar__logo {
    margin-top: 0;
    z-index: 1;
    margin-left: 20px;
  }

  .agreement__content {
    overflow: auto;
  }

  body.lock {
    overflow: hidden;
  }

  .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: unset;
    width: 100%;
    height: 100vh;
  }

  .card .card-container {
    padding: 17px 14px;
    font-size: 18px;
    overflow: auto;
    width: unset;
  }
}