.btn {
  background: #4253ff;
  border-radius: 5px;
  border: 0;
  padding: 13px 0;
  width: 100%;

  color: #fff;
  font-style: normal;
  font-weight: 900;
  font-size: 13.2px;

  cursor: pointer;
}
